* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    border: 10px red solid;
}

.gameWindow {
    margin: auto;
    margin-top: 100px;
    position: relative;
    height: 50%;
    width: 50%;
    border: 2px lime solid;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
}

.btns > button {
    height: 50px;
    width: 100px;
    padding: 8px 16px;
}

.gameWindow  p {
    font-weight: 500;
    font-size: larger;
}

.winnerTxt {
    font-size: xx-large;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.newGameBtn {
    margin: auto;
    padding: 8px 16px;
}